<html><head></head><body><div style="font-size:14px;line-height:1.5;background-color:#f5f5f5" bgcolor="#f5f5f5">
	<table class="m_-6158787474780142746wrapper-table" cellpadding="5" cellspacing="0" width="100%" border="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;background-image:url(https://s652538.sendpul.se/image/747991a0e145ac2bbe69f063a9402e69/files/emailservice/userfiles/e87c2cc59bdd62b30b9245c0a00c5c32366067/abandoned_cart/texture-discount.png);background-repeat:repeat;background-position:left top">
		<tbody>
			<tr style="border-color:transparent">
				<td align="center" style="border-collapse:collapse;border-color:transparent">
					<table cellpadding="0" cellspacing="0" width="600px" id="m_-6158787474780142746bodyTable" border="0" bgcolor="#ffffff" style="border-collapse:collapse;font-size:14px;line-height:1.5">
						<tbody>
							<tr style="border-color:transparent">
								<td border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
									
									<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
										<tbody>
											<tr style="border-color:transparent">
												<th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_-6158787474780142746tc" align="left" valign="top">
													<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;background-color:#fff;border-top-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0" bgcolor="#ffffff">
														<tbody>
															<tr style="border-color:transparent">
																<td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
																	
																</td>
															</tr>
														</tbody>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
									<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
										<tbody>
											<tr style="border-color:transparent">
												<th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_-6158787474780142746tc" align="left" valign="top">
													<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;background-color:#fff;border-top-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0" bgcolor="#ffffff">
														<tbody>
															<tr style="border-color:transparent">
																<td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
																	<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:separate;font-size:14px;line-height:1.5;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;height:20px" height="20">
																		<tbody>
																			<tr style="border-color:transparent">
																				<td height="20" style="border-collapse:collapse;border-color:transparent"></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
									<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
										<tbody>
											<tr style="border-color:transparent">
												<th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_-6158787474780142746tc" align="left" valign="top">
													<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;background-color:#fff;border-top-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0" bgcolor="#ffffff">
														<tbody>
															<tr style="border-color:transparent">
																<td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
																	<table width="100%" cellpadding="0" cellspacing="0" id="m_-6158787474780142746wout_block_out_block_7" style="border-collapse:separate;font-size:14px;line-height:1.5;font-weight:normal;margin:0;overflow:hidden">
																		<tbody>
																			<tr style="border-color:transparent;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif">
																				<td class="m_-6158787474780142746content-cell" width="520" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-left:40px;padding-right:40px;padding-top:15px;padding-bottom:10px" valign="top">
																					<p style="line-height:1.5;margin:0 0 10px;font-size:inherit;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-weight:normal;padding:0">
																						<span style="font-size:24px"><strong>Hello {{name}}</strong></span>
																					</p>
																					<p style="line-height:1.5;margin:0 0 10px;font-size:inherit;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-weight:normal;padding:0">
																						Your leave from <strong>{{leave_period}}</strong> has been <strong>{{status}}</strong>.
																					</p>
																					<p style="line-height:1.5;margin:0 0 10px;font-size:inherit;color:inherit;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-weight:normal;padding:0">
																						Open the leave form from below to add a new leave some other time.
																					</p>
																					
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
									<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;width:100%" border="0" width="100%">
										<tbody>
											<tr style="border-color:transparent">
												<th width="600" style="border-color:transparent;font-weight:400;text-align:left;vertical-align:top" cellpadding="0" cellspacing="0" class="m_-6158787474780142746tc" align="left" valign="top">
													<table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;line-height:1.5;background-color:#fff;border-top-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-bottom-right-radius:0" bgcolor="#ffffff">
														<tbody>
															<tr style="border-color:transparent">
																<td cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:transparent">
																	<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:separate;font-size:14px;line-height:1.5;overflow:hidden">
																		<tbody>
																			<tr style="border-color:transparent;color:#444;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif">
																				<td class="m_-6158787474780142746content-cell" width="520" style="border-collapse:collapse;border-color:transparent;vertical-align:top;padding-left:40px;padding-right:40px;padding-top:20px;padding-bottom:40px" valign="top">
																					<center>
																						<table cellpadding="0" border="0" cellspacing="0" class="m_-6158787474780142746sp-button" width="100% !important" style="border-collapse:collapse;font-size:14px;line-height:1.5;border:0;margin-left:auto;margin-right:auto;width:100%!important;max-width:208px!important;border-radius:5px;background:#fc5173">
																							<tbody>
																								<tr style="border-color:transparent">
																									<td class="m_-6158787474780142746sp-button-text" style="border-collapse:collapse;border-color:transparent;border-width:0;border-style:none;border:0;padding:0;border-radius:5px;width:208px;height:40px;vertical-align:middle;text-align:center" width="208" height="40" valign="middle" align="center">
																										<table cellpadding="0" border="0" cellspacing="0" width="100%" style="border-collapse:collapse;font-size:14px;line-height:1.5;border:0">
																											<tbody>
																												<tr style="border-color:transparent">
																													<td align="center" style="border-collapse:collapse;border-color:transparent;border:0;padding:0;line-height:1">
																														<a rel="noopener noreferrer" style="text-decoration:none;color:#fff;display:block;padding:12px 0;font-family:Arial,&quot;Helvetica Neue&quot;,Helvetica,sans-serif;font-size:16px;font-weight:bold" href="http://{{domain}}:5000/" target="_blank">
																															Open Leave Form
																														</a>
																													</td>
																												</tr>
																											</tbody>
																										</table>
																									</td>
																								</tr>
																							</tbody>
																						</table>
																					</center>
																					
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body></html>
