<!DOCTYPE html>
<html>
<head>
    <title>Leave Applications</title>
</head>
<body>
    <h1>Leave Applications</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Leave Type</th>
            <th>Total Leave Days</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Reason</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>